# Godot 4+ specific ignores
.godot/
/android/
/.vs/MACEWANGAMEJAM26/FileContentIndex
/.vs/MACEWANGAMEJAM26/DesignTimeBuild
/.vs/MACEWANGAMEJAM26/v18
/.vs
/.vs
/.vs
/.vs
/.vs/MACEWANGAMEJAM26
/.vs/MACEWANGAMEJAM26
/.vs
*.v2
/.vs
/.vs
.vs/MACEWANGAMEJAM26/DesignTimeBuild/.dtbcache.v2
/.vs
